.AddRoom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AddroomForm {
  font-size: 20px;
  margin-block: 30px;
}

input {
  padding: 10px;
  font-size: 16px;
}

.room-btn {
  border: none;
  border-radius: 4px;
  background-color: #0eb0af;
  padding: 10px;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box;
}
