.navbar {
  background-color: #0eb0af;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-title {
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.nav-item {
  margin: 5px 0;
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  display: none;
}

.nav-icon {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  display: inline;
}

.nav-link.active {
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-container {
    flex-direction: row;
  }

  .navbar-nav {
    flex-direction: row;
    align-items: center;
  }

  .nav-link {
    display: inline;
    margin: 0px 15px;
  }

  .nav-icon {
    display: none;
  }
}
